
#article-list li a p:hover {
    color: #5FB878
}


#whisper-list .whisper-item {margin: 15px 0 16px 0;}
#whisper-list .whisper-item .author {float: left;font-size: 13px;color: #00a67c;}
#whisper-list .whisper-item p {white-space: pre-line;word-break: break-all;word-wrap: break-word}
#whisper-list .whisper-item p img {height: 14px}
#whisper-list .whisper-item .date {font-size: 12px;float: right; margin-top: 15px;color: #9b9b9b;}


.fly-panel span .layui-input {
    width: 200px !important;
    height: 29px !important;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #fdfaef;
}
.fly-panel span .search {
    color: white !important;
    font-size: 12px !important;
    width: 39px;
    height: 29px !important;
    line-height: 31px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 0 0 9px !important;
}
.fly-panel span a {
    color: white !important;
    font-size: 12px !important;
    width: 39px;
    height: 29px !important;
    padding: 0 0 0 9px !important;
    line-height: 31px;
    margin-left: 16px;
}
.fly-panel #toTop {
    color: transparent;
    border: none;
}
.layui-timeline .layui-timeline-title{
    color: #ff7f21;
    font-size: 13px;
    font-family: fantasy;
}
.layui-timeline .section{
    background: antiquewhite;
    width: 98%;
    padding: 4px 1px 4px 8px;
    border-radius: 4px;
    display: inline-block;
}
.layui-timeline .section p{
    font-size: 12px;
}
.layui-timeline .section  .author a {
    float: right;
    font-size: 12px;
    padding-right: 4px;
}

.layui-collapse #about .bg {
    background-color: antiquewhite;
    padding: 20px;
    font-size: 14px;
    color: rgb(138, 137, 165);
    line-height: 24px;
    border-left: 4px solid rgb(0, 166, 124);
}
.layui-collapse .bg .bg-li {
    display: inline-block;
    color: chocolate;
    width: 100%;
}
.layui-collapse .bg .bg-li .p-title {
    font-weight: bold;
    float: left;
}
.layui-collapse  .bg .bg-li .p-content {
    margin-left: 41px;
}
.layui-collapse  .author-info { display: inline-flex; background-color: antiquewhite; height: 699px; }
 .layui-collapse  .author-info .left .layui-elem-field { width: 333px; height: 316px; border-color: antiquewhite; }
.layui-collapse  .author-info .left .layui-elem-field legend { margin-left: 111px !important; }
.layui-collapse .author-info .left img { height: 85px; border-radius: 53px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; background: rgb(251, 251, 251); border: 1px solid rgb(221, 221, 221); margin: 10px auto; padding: 5px; }
 .layui-collapse .author-info .left .layui-field-box .name { border-bottom: 2px solid rgb(0, 166, 124); text-align: center; font-size: 18px; padding-bottom: 7px; font-weight: bold; color: chocolate; }
 .layui-collapse  .author-info .left .layui-field-box .au-li { text-align: center; line-height: 30px; color: chocolate; }
 .layui-collapse  .author-info .right { padding-right: 11px; }
.layui-collapse  .author-info .right .li-p { border-radius: 3px; padding: 7px; color: chocolate; margin-top: 11px; background: floralwhite; box-shadow: chocolate 1.5px 1px 0px; }
 .layui-collapse  .author-info .right .right-date { text-align: right; border-bottom: none; }
 .layui-collapse  .author-info .right .ct { font-size: smaller; font-style: oblique; color: cornflowerblue; text-align: center; margin-top: 10px; }
 .info-span {
    line-height: 34px;
    color: blueviolet;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
.error-span {
    line-height: 34px;
    color: lightcoral;
    font-size: 14px;
    font-weight: bold;
}

/*
*add.html页面
*/
.layui-bg-black-2{
    padding:  0 0 0 97px;
    background-color: #393D49;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 6px 0 #531325;
}

.add-chechbox {
    margin-left: -10px;
    margin-bottom: 12px;
    margin-top: 171px;
}
/*
*个人主页
*/
.pro-main {
    width: 1152px;
    margin-left: 204px;
    min-height: 800px;
    padding-top: 11px;
    display: inline-flex;
    background: white;
    padding-left: 23px;
}

.pro-main .left {
    height: 500px;
    background: white;
    /* padding-left: 5px; */
    padding: 2px;
    border-radius: 3px;
}


.user-profile {
    padding: 0 0 0 0 !important;
}

.pro-main .home .layui-elem-field  {
    margin-bottom: 0px !important
}
.pro-main .home .layui-elem-field  legend {
    margin-left: 369px !important
}
.pro-main .home .layui-elem-field img {
    height: 85px;
    border-radius: 53px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 8px;
    background: #FBFBFB;
    border: 1px solid #ddd;
    margin: 10px auto;
    padding: 5px;
}
.pro-main .home .layui-elem-field .name{
    border-bottom: 2px solid #00a67c;
    text-align: center;
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: bold;
    color: chocolate;
}
.pro-main .home .bi-t{
    height: 39px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: #F2F2F2;
    line-height: 40px;
    padding-left: 9px;
    color: #00a67c;
    font-weight: bold;
    font-size: 15px
}
.pro-main .home .bg {
    padding: 20px;
    font-size: 14px;
    color: #8a89a5;
    line-height: 24px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.pro-main .home  .bg .bg-li {
    display: inline-block;
    width: 100%;
}

.pro-main .home  .bg .bg-li .p-title {
    font-weight: bold;
    float: left;
    color: #000
}

.pro-main .home .bg .bg-li .p-content {
    margin-left: 41px;
    color: #333
}
.pro-main .home  .bg #article-file {
    display:inline-flex;
}
.pro-main .home  .bg #article-file li {
    float: left;
    width: auto;
    line-height: 74px;
    height: 74px;
    margin-right: 19px;
    background: aqua;
    padding-left: 12px;
    border: 1px solid #dfaaaa;
    border-radius: 3px;
}
.pro-main .home  .bg a {
    color: white;
}
.pro-main .layui-timeline .layui-timeline-title {
    color: #ff7f21;
    font-size: 13px;
    font-family: fantasy;
}
.pro-main .layui-timeline .section {
    background: antiquewhite;
    width: 98%;
    padding: 4px 1px 4px 8px;
    border-radius: 4px;
    display: inline-block;
}
.pro-main .layui-timeline .layui-timeline-item p {
    font-size: 12px;
}
.pro-main .reply {
    border-bottom: 1px dotted #d6d6d6;
    width: 867px;
    margin-bottom: 20px;
}

.pro-main .reply .r {
    color: #999;
}

.pro-main .reply .reply-content {
    font-size: 12px;
    line-height: 20px;
}

.pro-main .reply .reply-from {
    border: 1px solid #dcdcdc;
    line-height: 18px;
    background: #f8f8f8;
    padding: 7px 12px;
    font-size: 11px;
    margin-top: 8px;
}

.pro-main.reply .reply-date {
    color: #999;
    margin-top: 8px;
    margin-bottom: 7px;
    font-size: 10px;
}

.pro-main .reply .reply-date {
    color: #999;
    margin-top: 8px;
    margin-bottom: 7px;
    font-size: 10px;
}

.pro-main .reply .reply-name {
    color: #009688
}

.pro-main .reply .content-url:hover {
    color: #f37d25 !important
}